.btn-four
  font-size: 20px
  &_
    &icon
      width: 24px
      height: 24px

//********************************************

.btn-secondary
  font-size: 18px

//**********************************************

.title-3
  font-size: 54px