.counter
  &_
    &plus
      background: transparent
      color: var(--btn-color-four)
      font-size: 30px
      .is-active
        background: var(--text-color-three)
      &:disabled
        color: var(--text-color-disabled)
    &num
      margin: 0 6px 0 10px
      color: var(--text-color-base)
      font-family: OpenSans
      font-weight: 400
      font-size: 25px
    &minus
      position: relative
      top: -1px
      background: transparent
      color: var(--btn-color-four)
      font-size: 30px
      .is-active
        background: var(--text-color-three)
      &:disabled
        color: var(--text-color-disabled)