.header-wrap
  position: fixed
  width: 100vw
  height: 100px
  left: 50%
  transform: translateX(-50%)
  z-index: 10
  &:before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgb(255,255,255)
    backdrop-filter: blur(3px)
    opacity: var(--opacity)
    transition: .3s
    
.header
  position: absolute
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  right: 0
  padding: 30px 50px 20px 50px
  &_
    &logo
      width: 150px
      height: 70px
      margin-right: auto
      text-decoration: none
      z-index: 100
    &logo-image
      width: 100%
      height: 100%
    &content
      position: absolute
      display: flex
      justify-content: center
      width: 0%
      top: 0
      right: 0
      transform-origin: 100% 50%
      transform: scaleX(0)
      transition: .3s
      z-index: 10
      pointer-events: none
      &::before
        position: absolute
        content: ''
        background: var(--theme-color-white)
        width: 0vw
        height: calc(100vh + 20vh)
        transition: .3s
        z-index: -1
      &.is-active
        width: 100%
        height: 100vh
        transform: scaleX(1)
        opacity: 1
        pointer-events: auto
        &::before
          width: 190vw
    &nav
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 150px
      &.is-active
        width: 100%
        overflow: auto
    &item
      margin-bottom: 20px
      font-family: OpenSans
      font-weight: 400
      font-size: 24px
      color: var(--text-color-secondary)
      text-decoration: none
      cursor: pointer
      transition: .3s
      &:hover
        color: var(--text-color-five)
    &btn-block
      display: flex
      align-items: center
      margin-left: 30px
    &soc-link
      text-decoration: none
      margin-right: 26px
    &soc-icon
      position: relative
      width: 30px
      height: 30px
    &btn
      position: relative
      padding: 4px 15px 4px 15px
      &--
        &second
          background: var(--btn-gradient-secondary)
          border: 2px solid var(--btn-gradient-secondary)
          box-shadow: 0px 4px 10px 5px rgba(29, 54, 115, 0.1)
          transition: .3s
          z-index: 100
          &::after
            display: none
          &:active
            box-shadow: none
      &.is-active
        .header
          &_
            &btn-count
              display: block
            &btn-img
              &--
                &first
                  display: none
                &second
                  display: inline-block
    &btn-img
      width: 30px
      height: 30px
      &--
        &first
        &second
          display: none
    &btn-count
      display: none
      position: absolute
      width: 20px
      height: 20px
      top: -8px
      left: 37px
      padding-top: 3px
      border-radius: 50%
      background: var(--theme-color-white)
    &btn-num
      color: var(--text-color-secondary)
    &radio-box
      margin-bottom: 20px
      display: block
      padding: 10px 0px 9px 0px
      text-decoration: none
    &radio-item
      padding: 4px 7px 4px 7px
      margin: 3px
      color: var(--theme-color-white)
      &--
        &active
          border-radius: 30px
          background: var(--theme-color-white)
          color: var(--text-color-three)
    &btn-menu
      margin-right: 20px
      padding: 10px 13px 10px 13px
      z-index: 100
      &::before
        content: 'MENU'
      &--
        &ru
          &::before
            content: 'МЕНЮ'
          &.is-active
            &::before
              content: 'ЗАКРЫТЬ' !important
      &.is-active
        &::before
          content: 'CLOSE'
