.title-3
  position: relative
  display: inline-block
  color: var(--text-color-secondary)
  font-family: Afacad
  font-weight: 700
  font-size: 45px
  text-transform: capitalize
  &::before
    position: absolute
    content: ''
    width: 106%
    height: 13px
    left: -5px
    bottom: 3px
    border-radius: 30px
    background: var(--br-color-base)
    z-index: -1
