.prod-desc
  &_
    &btn-box
      gap: 20px

.prod-data  
  .table
    &_
      &head-caption
        padding-left: 24px
        &--
          &mod
            padding-left: 0
              padding-right: 34px