.footer
  justify-content: space-between
  &_
    &nav
      width: 100%
      justify-content: space-between
    &item
      width: auto
    &btn-block
      align-items: center
      margin: 0
    &soc-link
      margin: 0 0 0 13px