.table
  position: relative
  border-radius: 15px
  box-shadow: 0px 8px 12px 0px rgba(123,196,255,0.1)
  &::before
    position: absolute
    content: ""
    width: 100%
    height: 100%
    top: 0
  &_
    &head
      position: relative
      &::before
        position: absolute
        content: ""
        width: 100%
        height: 100%
        top: 0
        border-radius: 15px 15px 0 0 
        background: var(--theme-gradient-base)
        z-index: -1
    &head-row
    &head-cell
      padding: 36px 10px
      &:first-child
        border-radius: 15px 0 0 0
      &:last-child
        border-radius: 0 15px 0 0
    &head-caption
      display: inline-block
      color: var(--theme-color-white)
      font-family: OpenSans
      font-weight: 600
      font-size: 14px
    &cell-head
      display: none
    &row
      position: relative
      display: table-row
      margin-bottom: 0
      &::after
        position: absolute
        content: ''
        width: 93%
        height: 1px
        bottom: 1px
        left: 50%
        transform: translateX(-50%)
        background: var(--br-color-three)
      &:last-child
        &::after
          display: none
        .table
          &_
            &cell
              &:first-child
                border-radius: 0 0 0 15px
              &:last-child
                border-radius: 0 0 15px 0
    &cell
      display: table-cell
      padding: 30px 10px
      text-align: center
      box-shadow: none
      width: 14.28%
      &:first-child
        border-radius: 0
      &:last-child
        border-radius: 0
      &::before
        display: none
      &--
        &name
          background: var(--theme-color-white)
          border-radius: 0 0 0 0
    &cell-name
      font-weight: 400
      color: var(--text-color-base)
    &cell-box
      display: block
    &cart
      margin: 0 0 0 0
    &cart-icon
      width: 20px
      height: 20px

.counter
  &_
    &plus
      font-size: 20px
    &num
      font-size: 15px
    &minus
      font-size: 20px
    