.btn-four
  font-size: 15px
  &_
    &icon
      width: 20px
      height: 20px

//********************************************

.btn-secondary
  font-size: 14px

//********************************************

.title-3
  font-size: 45px