.about-us-wrap
  padding: 4vh 0 2vh 0
  min-height: 500px
  
.catalog-wrap
  padding: 4vh 0 2vh 0
  min-height: 500px

.why-us-wrap
  padding: 6vh 0 5vh  0
  min-height: 500px
  
.contact-wrap
  padding: 0vh 0 0 0

.order-wrap
  padding: 6vh 0 0 0