
.shoping
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  gap: 20px
  &_
    &btn
      width: 47%
      &--
        &second
          padding: 18px 60px
 
  .table
    &_
      &row
        box-shadow: none
      &head-cell
        &--
          &start
            width: 26%
          &name
            text-align: left
            width: 24%
          &min
            width: 10%
      &head-caption
        font-size: 20px
          
      &cell
        padding: 20px 10px 20px 10px
        width: 20%
        &--
          &start
            width: 26%
          &name
            width: 24%
          &min
            width: 10%
      &cell-box
        position: relative
        display: flex
        flex-direction: column
        flex-wrap: wrap
        align-content: flex-start
        align-items: flex-start
        justify-content: center
        top: 0px
        left: 0px
        height: 140px
      &cell-img
        width: 160px
        height: 160px
      &cell-name
        margin: 0
        padding-top: 0
        padding-left: 0
        
//**************************************

.order
  .form
    &_
      &field
        &--
          &mini
            width: 48%
          &recap
            flex-direction: row
            justify-content: flex-end
            gap: 30px
      