.btn-base
  position: relative
  padding: 6px 18px 6px 18px
  background-image: var(--btn-gradient-base)
  background-size: 500%
  background-position: center
  transition: background-position .3s
  border-radius: 30px
  color: var(--theme-color-white)
  font-family: OpenSans
  font-weight: 400
  font-size: 12px
  text-align: center
  text-decoration: none
  cursor: pointer
  &::after
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: -1px
    left: -1px
    padding: 1px
    border-radius: 30px
    background-image: var(--btn-gradient-base)
    background-size: 500%
    background-position: center
    transition: background-position .3s
    transition: .3s
    z-index: -1
  &:hover
    background-position: right bottom
    &::after
      background-position: right bottom
  &:active
    background-position: left top
    &::after
      background: var(--btn-color-four)
  &:disabled
    background: var(--btn-color-three)

//********************************************

.btn-secondary
  padding: 8px 34px
  background: var(--theme-color-white)
  border: 1px solid transparent
  border-radius: 40px
  box-shadow: 0px 6px 12px 5px rgba(252, 89, 89, 0.1)
  -webkit-box-shadow: 0px 6px 12px 5px rgba(252, 89, 89, 0.1)
  color: var(--text-color-three)
  font-family: OpenSans
  font-weight: 400
  font-size: 12px
  line-height: 142%
  transition: .3s
  cursor: pointer
  &:hover
    color: var(--text-color-five)
    box-shadow: 0px 4px 12px 0px rgba(252, 89, 89, 0.5)
    -webkit-box-shadow: 0px 4px 12px 0px rgba(252, 89, 89, 0.5)
  &:active
    color: var(--text-color-six)
    background: var(--btn-color-six)
    border: 1px solid var(--btn-color-five)
    box-shadow: none
    -webkit-box-shadow: none

//********************************************

.btn-three
  padding: 6px 18px 6px 18px
  background: var(--theme-color-white)
  border: 1px solid var(--br-color-eight)
  border-radius: 40px
  box-shadow: 0px 4px 10px 5px rgba(115, 29, 36, 0.1)
  -webkit-box-shadow: 0px 4px 10px 5px rgba(115, 29, 33, 0.1)
  color: var(--text-color-three)
  font-family: OpenSans
  font-weight: 400
  font-size: 12px
  line-height: 142%
  text-align: center
  transition: .3s
  cursor: pointer
  &:hover
    color: var(--text-color-five)
    box-shadow: 0px 4px 12px 0px rgba(255, 123, 130, 0.5)
    -webkit-box-shadow: 0px 4px 12px 0px rgba(255, 123, 123, 0.5)
  &:active
    color: var(--text-color-six)
    border: 1px solid var(--btn-color-five)
    box-shadow: none
    -webkit-box-shadow: none

//********************************************

.btn-four
  position: relative
  padding: 12px 23px 12px 63px
  border-radius: 40px
  background: var(--theme-color-base)
  color: var(--text-color-three)
  font-family: OpenSans
  font-weight: 400
  font-size: 14px
  transition: .3s
  cursor: pointer
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: -2px
    left: -2px
    padding: 2px
    border-radius: 40px
    background: linear-gradient(140deg, rgb(252, 87, 95) 0%, rgb(255, 123, 123) 100%)
    transition: .3s
    z-index: -1
  &::after
    position: absolute
    content: ''
    width: 80%
    height: 3px
    left: 50%
    bottom: -18px
    border-radius: 6px
    background: var(--br-color-secondary)
    transform: translate(-50%, 0px) rotateY(90deg)
    transition: .3s
  &_
    &icon
      position: absolute
      width: 18px
      height: 18px
      margin-right: 10px
      top: 29%
      left: 28px
      transition: .3s
      &--
        &hover
          opacity: 0
  &:hover
    color: var(--theme-color-white)
    background: transparent
    .btn-four
      &_
        &icon
          opacity: 0
          &--
            &hover
              opacity: 1
    &::before
      box-shadow: 0px 3px 16px 0px rgba(255, 120, 120, 0.8)
      -webkit-box-shadow: 0px 3px 16px 0px rgba(255, 120, 120, 0.8)
    &::after
      transform: translate(-50%, 0px) rotateY(0deg)
  &.is-active
    color: var(--theme-color-white)
    background: transparent
    .btn-four
      &_
        &icon
          opacity: 0
          &--
            &hover
              opacity: 1
    &::before
      box-shadow: none
      -webkit-box-shadow: none
    &::after
      transform: translate(-50%, 0px) rotateY(0deg)

//********************************************

.btn-radio
  position: relative
  display: inline-block
  padding: 10px 0px 9px 0px
  text-decoration: none
  &_
    &item
      padding: 4px 7px 4px 7px
      margin: 3px
      color: var(--theme-color-white)
      &--
        &active
          border-radius: 30px
          background: var(--theme-color-white)
          color: var(--text-color-three)

//*********************************************

.btn-top
  &_
    &wrap
      position: fixed
      bottom: 100px
      width: 100%
      z-index: 200
    &body
      display: block
      position: absolute
      width: 56px
      height: 56px
      right: 20px
      border-radius: 8px
      background-color: var(--theme-color-secondary)
      opacity: 0
      transition: opacity 0.5s ease-in-out
      &--
        &active
          opacity: 1
          transition: opacity 0.5s ease-in-out
    &icon
      position: absolute
      width: 35px
      height: 35px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      transition: 0.3s ease
      z-index: 200

//*********************************************

.btn-del
  background: transparent
  &_
    &img
      width: 16px
      height: 16px
    &text
      color: var(--text-color-base)
      font-family: OpenSans
      font-weight: 400
      font-size: 14px
      text-decoration: underline
      
//*********************************************

.cart
  padding: 6px 20px
  border-radius: 30px
  background: var(--btn-color-three)
  &_
    &icon
      width: 20px
      height: 20px
  &.is-active
    background: rgb(88,164,252)
    background: linear-gradient(162deg, rgba(88,164,252,1) 0%, rgba(123,195,255,1) 100%)
