.inp-test
  border: 1px solid grey
  border-radius: 2px

.textarea-base
  height: 130px
  padding: 17px
  background-color: var(--theme-color-white)
  border-radius: 25px
  font-family: Open Sans
  font-size: 4px
  font-weight: 400
  resize: none
