.select-base
  position: relative

  select
    appearance: none
    width: 100%
    padding: 17px 20px
    border: 1px solid var(--br-color-seven)
    border-radius: 4px
    box-shadow: 0px 4px 10px 0px rgba(29,54,115,.1)
    background: var(--theme-color-white)
    color: var(--text-color-secondary)
    font-family: OpenSans
    font-weight: 400
    font-size: 16px
    cursor: pointer
    &:focus
      border: 1px solid var(--br-color-secondary)
      box-shadow: 0px 4px 10px 0px rgba(89,164,252,.2)
    &::placeholder
      font-family: OpenSans
      font-weight: 400
      font-size: 16px
      color: var(--text-color-secondary)
  &::before
    --shift-plus: calc(50% - 4px)
    --shift-minus: calc(-50% - 2px)
    position: absolute
    content: "\2304"
    width: 30px
    height: 30px
    top: var(--shift-plus)
    right: .5rem
    color: var(--text-color-secondary)
    font-size: 30px
    transform: translateY(var(--shift-minus))
    pointer-events: none
    