html
  scroll-behavior: smooth

body
  position: relative
  display: flex
  flex-direction: column
  min-height: 100vh
  background: var(--theme-color-base)
  font-family: OpenSans
  overflow-x: hidden

  
.not-scroll
  overflow: hidden

.is-hidden
  display: none !important
  
.page
  flex: 1
  overflow: hidden
  
.container
  position: relative
  --container-width: 100%
  width: var(--container-width)
  margin: 0 auto
  padding: 0 50px 0 50px
  zoom: 85%
  
//*************************************
  
@media (min-width: 576px)
  @import sm

@media (min-width: 768px)
  @import md

@media (min-width: 992px)
  @import lg

@media (min-width: 1200px)
  @import xl

@media (min-width: 1400px)
  @import xxl
