.contact
  position: absolute
  display: flex
  flex-direction: column
  top: -400px
  padding: 38px 20px 24px 20px
  border-radius: 16px
  background: var(--theme-color-white)
  &_
    &title
      left: 50%
      margin-bottom:50px
      transform: translateX(-50%)
    &map-body
      background: var(--theme-color-white)
    &name
      margin-bottom: 23px
      color: var(--text-color-secondary)
      font-family: OpenSans
      font-weight: 600
      font-size: 20px
      line-height: 142%
    &item
      margin-bottom: 17px
      color: var(--text-color-base)
      font-family: OpenSans
      font-weight: 400
      font-size: 16px
      line-height: 142%
      text-decoration: none
    &item-icon
      width: 31px
      height: 31px
      margin-right: 13px
