.preview-wrap
  position: relative
  display: flex
  min-height: 568px
  height: 100vh
  
.preview
  &_
    &decor
      position: fixed
      width: 100%
      height: 100%
      z-index: -1
      &::before
        position: absolute
        content: ''
        width: 100%
        height: 100%
        background: rgb(255,255,255)
        background: linear-gradient(135deg, rgba(246,249,255,.9) 0%, rgba(246,249,255,.9) 45%, rgba(246,249,255 ,.2) 100%)
    &decor-img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: left center

//***********************************************************

.about-us-wrap
  padding: 50px 0 20px 0
  position: relative
  background: var(--theme-color-base)
  
.about-us
  &_
    &decor
      position: absolute
      top: -272px
      left: 70%
      transform: translateX(-50%)
      z-index: -2
      svg
        width: 100vw

//***********************************************************

.catalog-wrap
  padding: 50px 0 20px 0
  background: var(--theme-color-base)

//***********************************************************

.why-us-wrap
  position: relative
  padding: 40px 0 10px 0
  background: var(--theme-color-base)
.why-us
  &_
    &decor
      position: absolute
      top: -94px
      left: -150px
      z-index: 0

//***********************************************************

.contact-wrap
  padding: 50px 0 10px 0
  background: var(--theme-color-base)

//***********************************************************

.galeries-wrap 
  display: none

.modal-wrap
  display: none