:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;
  --mq-size-xxl: 1320px;

  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-color-error: #ff0000;
  --theme-color-base: #fef9f9;
  --theme-color-secondary: #ff7b7b;
  --theme-color-three: #ff9966;
  --theme-color-four: #98ff98;
  --theme-color-five: #42AAFF;
  --theme-color-six: #e6fffa;

  --theme-gradient-base: linear-gradient(130deg, #fc5959, #ff7b7b);
  
  --br-color-base: #f1c7c7;
  --br-color-secondary: #ff7b7b;
  --br-color-three: #F0F3FA;
  --br-color-six: #FFD6DF;
  --br-color-seven: #C2C6CD;
  --br-color-eight: #fc5959;
  
  --text-color-base: #130a0a;
  --text-color-secondary: #0d0303;
  --text-color-three: #fc5959;
  --text-color-four: #CBCFD3;
  --text-color-five: #e27677;
  --text-color-six: #d32c2c;
  --text-color-disabled: #C2C6CD;
  
  --btn-color-base: #d45658;
  --btn-color-secondary: #7BC3FF;
  --btn-color-three: #C2C6CD;
  --btn-color-four: #dd4040;
  --btn-color-five: #d32c2c;
  --btn-color-six: #ffeaea;

  --btn-gradient-base: linear-gradient(122deg, #c92d30, #d6494c, #dd595b, #e27677, #e07d7e, #e08c8d);
  --btn-gradient-secondary: linear-gradient(122deg, #fb9c9c, #fcbdbd);
  --btn-gradient-three: linear-gradient(122deg, #f08b8b, #fcbdc0);

  --0-color: #592c4a;
  --1-color: #6f2a4a;
  --2-color: #99354f;
  --3-color: #d55155;
  --4-color: #ff886e;
  --5-color: #ffd07b;
}